* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: black;
    font-size: 16px;
    font-weight: 300;
}

header {
    color: white;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('images/paint.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header h1,
header p {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    width: 1000px;
    text-align: center;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 64px;
    top: 30%;
}

header p {
    top: 42%;
}

header nav {
    text-align: center;
    transform: translate(-50%, 0);
    position: absolute;
    bottom: 90px;
    left: 50%;
}

nav {
    list-style-type: none;
}

nav ul li{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

div#introFrame {
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 95%;
    height: 90vh;
    border: solid white 10px;
}

body section {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100vh;
    color: white;
}

section h1,
section p,
section h2 {
    position: absolute;
}

section#featured h1 {
    font-size: 64px;
    top: 30px;
}

section#featured p {
    width: 300px;
    top: 170px;
}

section#featured h2 {
    font-size: 30px;
    top: 130px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

section#featured {
    background-color: #FEE850;
    color: #3B3B3B;
}

section#featured h1,
section#featured p,
section#featured h2 {
    left: 40px;
}

section#categories h2 {
    text-align: center;
    width: 100%;
    font-size: 54px;
    background-color: #FEE850;
    color: #3B3B3B;
    height: 63px;
}

section#categories nav {
    width: 100%;
    height: 91vh;
    position: absolute;
    bottom: 0px;
    
}

section#categories nav ul li {
    margin: auto;
    width: 33.3%;
    height: 45vh;
    float: left;
}

section#categories nav ul li {
    background-repeat: no-repeat;
    background-size: cover;
}

section#categories nav ul li:nth-child(1) {
    background-image: url(images/paint.png);
}

section#categories nav ul li:nth-child(2){
    background-image: url(images/science.jpg);
}

/*!!!note to self: make sure you go back and change these images*/
section#categories nav ul li {
    background-image: url(images/science.jpg);
}

section div {
    float: left;
}

section div ul li {
    list-style-type: none;
}

section div.image {
    width:60%;
    height: 100vh;
    background-image: url(images/paint.jpg);
    background-position: 70% 0%;
    background-size: 1010px;
    background-repeat: no-repeat;
}

section div.info {
    background-color: blue;
    width: 40%;
    height: 100vh;
    position: relative;
    background-color: #FEE850;
    color: #3B3B3B;
}

section div.info h3,
section div.info p,
section div.info ul {
    position: absolute;
    width: 300px;
    transform: translate(-50%,0);
}

section div.info h3 {
    top: 40px;
    left: 50%;
    text-align: center;
    font-size: 30px;
}

section div.info p {
    top: 130px;
    left: 50%;
}

section div.info ul {
    top: 440px;
    left: 50%;
}

section div.info ul li.title {
    font-family: 'Montserrat', sans-serif;
}


section {
    background-color: #5BDEFF;
}




/*font-family: 'Muli', sans-serif;*/